<!doctype html>
<html lang=en>
<head>
	<title>paracode</title>
	<link rel="stylesheet/less" href="lib/bootstrap.less">
	<link rel="stylesheet/less" href="paracode.less">
	<script src="less.js"></script>
</head>
<body>
  <%- body %> 
</body>
</html>

